/*
!.gitignore

!/data/
/data/*
!/data/fakekv_data
!/params*
!/configs*

!/fakekv.py
!/utils.py
!/plots.py
!/run_experiments.py
!/generate_data.py
!/algorithm.py
!/figures.py

drafts/
images/
papers/
updates/
__pycache__

*.ipynb